h1{
  margin: 15vh 0 10vh 0;
}

.contactBackground{
  background-image:url(../img/aboutme/photographer-1773331_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact-me{
  margin: 30px;
  padding: 30px;;
  background: rgba(249, 248, 246, 0.5);
}

.container-fluid{
  margin:0;
  padding: 0;
}

.footer{
  margin-top: 15vh;
}
