/* General CSS */

.carousel-caption .btn {
  /* Button */
  position: relative;
  bottom: 5vw;
  background: rgba(255, 255, 255, 0.6);
  width: 13vw;
  height: 4vw;

  /*Text button*/
  font-size: 2vw;
  color: rgba(0, 0, 0, 1);
  vertical-align: middle;
  text-align: center;
  border: none;
  border-radius: 0px;
}

#carousel-controls .glyphicon {
  font-size: 2vw;
  color: rgba(255, 255, 255, 1);
}

.item .glyphicon {
  font-size: 4vw;
  color: rgba(255, 255, 255, 1);
  border-bottom: solid white;
}

/*Citation / Background / About Me */

.citation {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.signature {
  padding-right: 20%;
  text-align: right;
}

.background_1 {
  height: 450px;
  background: url("../img/historique5.jpg") no-repeat center fixed;
}

.about_me {
  padding-bottom: 80px;

}

.photo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.photo .media-object {
  border-radius: 100%;
}
.background_2 {
  height: 450px;
  background: url("../img/historique6.jpg") no-repeat center fixed;
}
.media a {
  color: red;
  text-align: center;
}
.media .btn {
  width: 100%;
  color: #ff6858;
  border: 2px solid #ff6858;
  margin-top: 50px;
}

.media span {
  color: #ff6858;
}

.media .btn-default:hover {
  color: #ffff;
  background-color: #ff6858;;
 border: 2px solid #ff6858;;
}

.media .form-control:focus {
  border-color: #ff6858;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075), 0 0 12px rgba(0, 0, 0, 0.6);
}

/* Theme Chooser */
.whitespace-mg hr {
  margin-bottom: 50px;
}
.theme-ct {
  padding: 0;
  height: 550px;
}

.theme-ct img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.overlay-theme {
  position: absolute;
  bottom: 90%;
  background-color: rgba(255, 104, 88, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
  top: 0;
}

.theme-ct:hover .overlay-theme {
  top: 0;
  height: 10%;
}
.text {
  white-space: nowrap;
  color: white;
  font-size: 1.3em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Form */

.formulaire {
  padding-top: 50px;
  padding-bottom: 70px;
}


.form {
  padding-top: 20px;
}



span {
  color: #ff6858;
}


.form-control:focus {
  border-color: #ff6858;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075), 0 0 12px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1200px) {
  .overlay-theme {
    height: 10%;
    background-color: rgba(255, 104, 88, 0.7);
  }
}

@media screen and (max-width: 900px) {

.carousel-inner {
    display: none;
  }

  #bg-query {
     background: url('../img/banner3.jpg');
     background-size: cover;
     width: 100vw;
     height: 100vh;
  }
}